
.text-center {
    text-align: center!important;
}
body {
	background-image: url(sunset.jpg);
}

body {
    display: -ms-flexbox;
    display: flex;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
html, body {
    height: 100%;
    background-color: #333;
}

*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.cover-heading {
	text-align: center;
}
